* {
  font-family: "Teko";
  box-sizing: border-box;
}

header {
  background-color: #004346;
  width: 100%;
  height: 200px;
  position: relative;
  color: #A6E1FA;
}

body {
  width: 100%;
  /*height: 80%;*/
  margin: 0;
  background-color: #A6A867;

}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #004346;
  display: inline-block;
  margin: 20px 25px;

}

.card-layout {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*align-items: center;*/
  width: 100%;
  height: 100%;
  background-color: #447604;
  padding: 10px;
}

/*.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}*/

.card {
  width: 260px;
  height: 450px;
  background-color: #A6E1FA;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: .7%;
  margin-right: .7%;
  box-shadow: 5px 5px 5px #8E9B90;
  position: relative;
  color: #004346;
  flex-grow: 1;
}


.top-image {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  color: #A6A867;
  position: relative;
}

.angela {
  background-image: url('images/kate-angela.jpg');
}

.sexycats {
  background-image: url('images/kate-sexycats.jpg');
}

.ghostbusters {
  background-image: url('images/kate-ghostbusters.jpeg');
}

.hillary {
  background-image: url('images/kate-hillary.jpg');
}

.bieber {
  background-image: url('images/kate-bieber.png');
}

.twinbed {
  background-image: url('images/kate-twinbed.jpg');
}

.ellen {
  background-image: url('images/kate-ellen.jpg');
}

.russian {
  background-image: url('images/kate-russian.jpg');
}

.logo  {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo:hover {
  cursor: pointer;


}

.kate-obsessed {
  /*height: 100px;
  width: 200px;*/
  display: block;
  /*margin: auto;*/
  margin-right: 10px;
  margin-bottom: -15px;
}

.tagline {
  display: block;
  /*margin: auto;*/
  font-size: 25px;
  /*color: #A6E1FA;*/
  margin-right: 30px;
}

.user {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.icon {
  height: 25px;
  width: 25px;
}

.user-icon {
  margin-top: 15px;
}

.username {
  color: #447604;
  font-weight: 600;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.inactive {
  color: #A6A867;
}

li {
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}

.icon {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.icon:hover {
  -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);
 cursor: pointer;
}



ul {
  position: absolute;
  bottom: 0;
  left: -30px;
}

.nav-icon {
  display: inline-block;
  margin-right: 5px;
}

.vid-link {
  margin: auto;
  height: 60px;
  width: 230px;
  /*border: 2px solid black;*/
  position: absolute;
  top: 240px;
  left: 15px;
  background-color: #A6A867;
  padding: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.vid-link:hover,
.play:hover {
  cursor: pointer;
  border: 2px solid #447604;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.play:hover {
  border-color: #A6E1FA;
}

.play {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
}

.views,
.num-views {
position: absolute;
right: 10px;
}

.views {
  margin-top: 5px;
  font-size: 20px;
  top: 0;
}
.num-views {
  font-size: 40px;
  top: 20px;
  margin-top: 0px;
}

.vid-title,
.date {
  display: block;
  margin: 5px 0px 0px 10px;
}

.vid-title {
  /*margin: 5px 10px;*/
  font-size: 25px;
}

.date {
  margin-top: 0px;
}

.playlist,
.attachments {
  font-size: 20px;
  margin: 5px 5px;
}

.num-att {
  font-size: 40px;
  margin: -10px 5px;
  color: #447604;
}

.playlist-name {
  font-size: 30px;
  margin: -10px 5px 5px 5px;
}
.beneath-link {
  position: absolute;
  top: 300px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #004346;

}

.kate-obsessed {
  background-image: url("https://fontmeme.com/permalink/170723/efd2a5cb8d8edfa5382d08801d72337c.png");
  height: 50px;
  width: 300px;
  background-repeat: no-repeat;
}

.kate-obsessed:hover {
  background-image: url("http://mac.h-cdn.co/assets/16/27/980x490/landscape-1467748926-mc-070516-index.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 725px) {
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -25px;
  left: -10px;
}

  li {
    display: block;
    margin-top: 15px;
    font-size: 15px;
  }



  .tagline {
    display: none;
  }

  .kate-obsessed {
    background-image: url("https://fontmeme.com/permalink/170723/c5906409bece56c9fba3fd71f003220d.png");
    height: 75px;
    width: 100px;
  }

  .logo {
    bottom: 40px;
  }

}

@media screen and (max-width: 450px) {
  .card-layout {
    flex-direction: column;

    align-items: center;

  }
}
